<div class="flex items-center dark:bg-gray-900">
  <div class="container mx-auto">
    <div class="max-w-md mx-auto my-10 bg-white p-5 rounded-md shadow-sm">
      <div class="m-7">
        <form action="https://api.web3forms.com/submit" method="POST" id="form">
          <input type="hidden" name="access_key" value="7ffc60f9-f43a-40bf-99c3-02a79affaa3e" />
          <input type="hidden" name="subject" value="TSUGUMI main" />
          <input type="hidden" name="redirect" value="{{ $.Page.Params.Permalink | absURL }}{{ site.LanguageCode }}/success" />
          <input type="checkbox" name="botcheck" id="" style="display: none;" />
          <div class="mb-6">
            <label for="name" class="block mb-2 font-medium text-sm text-gray-600 dark:text-gray-400">{{ i18n "yourName" }}</label>
            <input style="color: rgb(51, 51, 51);" type="text" name="name" id="name" placeholder="tsugumi uta" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-400 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
          </div>
          <div class="mb-6">
            <label for="email" class="block mb-2 font-medium text-sm text-gray-600 dark:text-gray-400">{{ i18n "emailAddress" }}</label>
            <input style="color: rgb(51, 51, 51);" type="email" name="email" id="email" placeholder="you@company.com" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-400 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
          </div>
          <div class="mb-6">
            <label for="message" class="block mb-2 font-medium text-sm text-gray-600 dark:text-gray-400"> {{ i18n "message" }}</label>

            <textarea style="color: rgb(51, 51, 51);" rows="5" name="message" id="message" placeholder="Your Message" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-400 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-500 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
          </div>
          <div class="mb-6  flex flex-col items-center">
            <button type="submit" class="btn !rounded-md  px-4 py-2 border-solid border-2 border-neutral-500   dark:hover:!bg-neutral-700">
              {{ i18n "send" }}
            </button>


          </div>
          <p class="text-base text-center text-gray-400" id="result"></p>
        </form>
      </div>
    </div>
  </div>
</div>

